python
pytorch
torchvision
numpy
pillow
opencv
pypng
#hydra-core
#hydra-colorlog
#open3d
matplotlib
plyfile
huggingface_hub
safetensors
imageio
xformers
wandb
timm
accelerate
# Below modules are for when module load gcc doesn't actually laod gcc-16.
c-compiler
cxx-compiler